<% content_for :title, page_title("TOP") %>
<div class="w-5/6 mx-auto max-w-screen-xl">
  <h1 class= "font-per flex justify-center text-5xl mb-10">I'm a NOT PERFECT AI</h1>
    <h2 class= "font-kos lg:ml-40 mb-10">
     万能だと信じているAIって、実は万能じゃないかも？
     現時点で、画像内に生成される文章は、日本語や英語がおかしかったりします。
     <br>
     実はPERFECTではないAIが作る画像を、"こどもごころ"を持って一言で表現してください。
     （ロゴを押していただくと、トップページに戻ります。）
     </h2>
     
     <h3 class= "font-per flex justify-center text-2xl text-orange-600">
     Let's enjoy "I'm a NOT PERFECT AI"
    </h3>

    <div class= "flex justify-between lg:justify-center lg:space-x-10">
    <%= link_to '画像を生成する', dreams_path, class: 'btn btn-primary mt-10' %>
    <%= link_to '出展作品を見る', boards_path, class: 'btn btn-primary mt-10' %>
    </div>
</div>

