<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h1>YUMETUDUKI</h1>
    <h1>生成AIでちょっと変わった使い方、してみませんか？
    このアプリでは、あなたの子供の時の夢と、今の職業（もしくは目指している職業）を入力すると
    生成AIが過去と現在を繋いでくれます/h1>
    <%= link_to '試してみる', dreams_path %>
  </div>
</div>