<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h1>YUMETUDUKI</h1>
    <h1>みんな万能だと思っている生成AIって、実は万能じゃないかも？！
現時点では画像内に出力される文字は英語です。皆さんで逆で一言つけてください/h1>
    <%= link_to '試してみる', dreams_path %>
  </div>
</div>