<div class="fixed bottom-0 w-full">
<footer class="footer footer-center p-4 bg-base-300 text-base-content font-per">
  <aside>
    <p>Copyright © 2024 - I'm a not PERFECT AI</p>
  </aside>
</footer>
</div>
