<% content_for :title, page_title("Gallary") %>
<div class= "w-5/6 mx-auto max-w-screen-xl ">
  <h1 class="font-per text-5xl mb-10 flex justify-center">Gallary</h1>
  <div class= "flex justify-between lg:justify-center lg:space-x-10">
  <%= link_to '画像を生成する', dreams_path, class: 'btn btn-primary mb-10' %>
  <%= link_to '作品を出展する', new_board_path, class: 'btn btn-primary mb-10' %>
  </div>

  <div class= "grid grid-cols-1 lg:grid-cols-3">
        <% if @boards.present? %>
          <%= render @boards %>
           </div>
          <div class = "flex justify-center my-10 mb-20>
          <%= paginate @boards, window: 2 %>
            </div>
        <% else %>
          <p>掲示板がありません</p>
        <% end %>
</div>
