<div class="container pt-3">
  <!-- 掲示板一覧 -->
  <h1>投稿一覧</h1>
  <%= link_to '新規投稿する', new_board_path, class: 'btn btn-primary' %>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @boards.present? %>
          <%= render @boards %>
        <% else %>
          <div class="mb-3">掲示板がありません</div>
        <% end %>
      </div>
    </div>
  </div>
</div>


